/* Body */
:where(body) {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Navbar */
nav {
  background-color: #F1F3FF;
  border-bottom: 1px solid #e7e7e7;
}

:where(.nav-link) > a {
  color: black;
}